body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #003262;
}

header {
    background: #003262;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #FDB515; /* California Gold */
}

.top-nav a {
    color: #003262;
    text-decoration: none;
    padding: 8px;
}

.auth-buttons button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #003262; /* Berkeley Blue */
    color: white;
    border: none;
    cursor: pointer;
}

.auth-buttons button:hover {
    background-color: #00254c;
}

nav {
    background: #FFFFFF;
    padding: 19px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    padding: 5px;
}

nav ul li a {
    color: #003262;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #FDB515; /* Change link color on hover (e.g., purple) */
}

footer {
    text-align: center;
    padding: 10px;
    background: #003262;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    margin-bottom: 0px; /* Adjust the space below the <h3> as needed */
}

h3 {
    margin-top: 0; /* Remove the space above the <h4> */
    color: #C4820E;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid;
    object-fit: cover;
}
  
img:hover {
    transform: translateX(107px);
}
